Notes for class

In [80]:
'my dog\'s toy'

"my dog's toy"

In [81]:
''' 
THIS IS A BLOCK OF CODE 
THAT I WANT TO USE RIGHT NOW BUT I DON'T WANT TO USE
'''

" \nTHIS IS A BLOCK OF CODE \nTHAT I WANT TO USE RIGHT NOW BUT I DON'T WANT TO USE\n"

In [82]:
'\U0001F0A1'

'ðŸ‚¡'

In [83]:
'\x80abc'

'\x80abc'

In [84]:
[1,2,3,4,5,6,7,1.55656,'word1','word2',True,False]
type([1,2,3,4,5,6,7,1.55656,'word1','word2',True,False])

list

In [85]:
(1,2,3,4,5,6,7,1.55656,'word1','word2',True,False)
type((1,2,3,4,5,6,7,1.55656,'word1','word2',True,False))

tuple

In [86]:
'abc ' * 5

3 * [1,2,3, 'null' ]

[1, 2, 3, 'null', 1, 2, 3, 'null', 1, 2, 3, 'null']

In [87]:
a = 4

In [88]:
hello = 'hello'
is_python_awesome = True
days_in_python = 6
pie_size = 3.14

In [1]:
a = 4
b = 3.2

print(id(a))
id(b)

a= a + b
print(id(a))

9793184
140295795756656

In [2]:
a = [1,2,3,4]

print("Accessing the last element", a[-1])



print("Before change the id is: ",id(a))
a[0] = 9
print(a)
print("After Change the id is: ",id(a))

Accessing the last element 4
Before change the id is:  140295778287424
[9, 2, 3, 4]
After Change the id is:  140295778287424

In [91]:
b = [1,2,[7,8,9]]

print(b[-1][0])

7

In [92]:
c = [1,2,1,1,3,'word']
print(c[-1][0])

print(c.count(1))

w
3

In [93]:
t = (1,2,3,4)

# Change to a list
t = list(t)
print("Changed to a list: ",t)
t[0]=9

# Change to back to a tuple
t = tuple(t)
print("Change to a tuple: ",t)

Changed to a list:  [1, 2, 3, 4]
Change to a tuple:  (9, 2, 3, 4)

In [94]:
a = 2
b = '6.2'

a + float(b)

8.2

In [95]:
int_input = '345'
int_input = int(345)

pi_4 = 3.1415
pi_4 = float("3.1415")

hours_str = 40
hours_str = str(40)

hourly_rate = 15
hourly_rate = float(15)

In [96]:
int_input = int("345")
pi_4 = float("3.1415")
hours_str = str(40)
hourly_rate = float(15)

In [97]:
fname = 'Albert'
day = "today"

sentence = "Hello {}. How are you {}?".format(fname,day)
print(sentence)

sentence = f'Hello {fname}. How are you {day}'
print(sentence)

PI = 3.14159265359
trim = f'String Formated to 2 decimal places: PI = {PI:.2f}'
print(trim)

Hello Albert. How are you today?
Hello Albert. How are you today
String Formated to 2 decimal places: PI = 3.14

In [117]:
string = "Hello World"
print(string.split())

string = "Hello:World:Water:Mark"
print(string.split(':'))

string = "Hello World"
print(string.split('o'))

userline = 'syslog:x:104:110::/home/syslog:/usr/sbin/nologin'
print(userline.split(':'))
print(userline.split(':')[3])
print(userline.split(':')[:3])


s = 'hello'
#s = s + 'j'
#print(s)

s_list = list(s)

print(s_list)
s_list[0] = 'j'
s = ''.join(s_list)
print(s)

['Hello', 'World']
['Hello', 'World', 'Water', 'Mark']
['Hell', ' W', 'rld']
['syslog', 'x', '104', '110', '', '/home/syslog', '/usr/sbin/nologin']
110
['syslog', 'x', '104']
['h', 'e', 'l', 'l', 'o']
jello

In [119]:
'word'.capitalize()

'Word'

In [128]:
print('word' == 'Word')
print('word' == 'Word'.casefold())
print('word'.isalpha())
print('5'.isalpha())
print('word one'.replace('o','a')) # replace 0 with a
print('word one'.replace('o','a',1)) # replace 0 with a. Do the replacement just once

False
True
True
False
ward ane
ward one

In [131]:
# va split(" ")
# " ".join(var)

In [134]:
a = 3
b = 2

print(a/b) # Gives you the float division 
print(a//b) # gives the integer division

print(b ** a ) # Gives the exponential

1.5
1
8

In [136]:
x = 16
y = 3
xysum = x + y
xydiff = x - y 
xyprod = x * y 
xyquo = x / y 
xyintquo = x // y 
xymod = x % y

In [138]:


name='Jerry'
greeting='Sir'
time='noon'
output = f'Hello {name}! {greeting}, will you be arriving by {time}?'

Hello Jerry! Sir, will you be arriving by noon?

In [3]:
sentence = 'good for all'
sent_list = list(sentence)
sent_list[0] = 'f'
sent_list[-1] = '?'
output = str('.'.join(sent_list))
print(output)

f.o.o.d. .f.o.r. .a.l.?

In [4]:
print('hello world')

hello world

In [ ]:
#string = "Hello World"
#print(string.split('o'))

email = "alan.m.turing@genius.com"
email.split('.')[:2]
email.split('@')[3]
email.split('.')[3:]

#print(email.split(''))

#lst= list(email)
#lst = ['alan','m','turing', 'genius', 'com']
#print(lst)

In [5]:

print("hello world")

hello world

In [1]:
#Read multiple numbers separated by spaces on the same line from the user.
#Change all spaces to a plus sign.
#Print the resulting string to the user.
#Read multiple numbers separated by spaces on the same line from the user.
#Change all spaces to a plus sign.
#Print the resulting string to the user.
numbers = input()
numbers = numbers.replace(' ','+')
print(numbers)

min+us

In [11]:
var = "hello"
var2 = "world"
print(var,var2,end=" : ")
print(var,var2,sep=" whatever ")
print('words'); print('more words')
print(f'Var is: {var}, var2 is: {var2}')

# CONTROL QUESTION MARK highlights multiple lines together.

hello world : hello whatever world
words
more words
Var is: hello, var2 is: world

In [12]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

answer = num1 + num2

print("The answer will be: ",answer)

The answer will be:  12